html, 
body {
    
    padding: 0;
    height: 100%;
}

.container {
    background-image: linear-gradient(103.24deg, rgba(29, 0, 16, 0.818) 23.83%, rgba(29, 0, 14, 0.267) 96.1%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.rodape-final {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    border-top: 1px solid #ddd;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    height: 50px;
}
.cadastro-cliente {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    max-width: 290px;
    height: auto; 
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #9A0000;
    text-align: center;
    justify-content: center;
    align-items: center;
}




.cadastro-cliente .titulo {
    margin-bottom: 10px;
}
.cadastro-cliente a{
    color:#9A0000;
    text-align: left;
    margin-bottom: 10px;
}

.cadastro-cliente input {
    margin: 10px;
    border: 1px #9A0000 solid;
    border-radius: 3px;
    height: 25px;
    width: 95%;
}.cadastro-cliente .botao-cadastrar {
    margin-top: 3px;
    background-color: #9A0000;
    border: 2px #FFF solid;
    border-radius: 4px;
    padding: 4px 40px;
    color: #fff;
    transition: all 0.2s ease-in-out; /* Transição suave */
}

.cadastro-cliente .botao-cadastrar:active {
    transform: translateY(3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para o efeito de afundamento */
}

.container-login a {
    color: #9A0000;
    margin-top: 15px;
    font-size: 15px;
    text-align: left;
    display: inline-block;
    text-decoration: none;
    transition: color 0.2s ease-in-out; /* Transição suave */
}


.container-login a:hover {
    color: #660000; /* Cor do link ao passar o mouse */
}

.cadastro-cliente a {
    color: #9A0000;
    margin-top: 15px;
    font-size: 15px;
    text-align: left;
    display: inline-block;
    text-decoration: none;
    transition: color 0.2s ease-in-out; /* Transição suave */
}
.botao-e-mensagem{
   flex-direction: column ;
}

.cadastro-cliente a:hover {
    color: #660000; /* Cor do link ao passar o mouse */
}
