.localizacao {
    display: flex;
    justify-content: space-around;
    
    align-items: center; 
    flex-wrap: wrap;
    width: 95%;
    margin: 20px auto;
    gap: 30px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}


.endereco h1 {
    padding-top: 15px;
    color: #9A0000;
}
.endereco  p{
    color: #9A0000;
    font-size: 15px;
}
.contatos h2 {
    padding-top: 15px;
    color: #9A0000;
    margin-bottom: 25px;
}
.contatos  p{
    color: #9A0000;
    font-size: 15px;
    margin-top: 5px;

}
.endereco h3{
    margin-top: 25px;
}



.mapa-iframe {
    border: 2px solid #9A0000;
    border-radius: 30px;
}
