html, 
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    background-image: linear-gradient(103.24deg, rgba(29, 0, 16, 0.818) 23.83%, rgba(29, 0, 14, 0.267) 96.1%), url(https://cdn.tasteatlas.com/Images/Dishes/8f1706771cb549f289c5dcbee950f923.jpg?mw=1300);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.rodape-final {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    border-top: 1px solid #ddd;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    height: 50px;
}
.login-cliente {
    flex-wrap: wrap;
    width: 100%;
    max-width: 250px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #9A0000;
    text-align: center;
    word-wrap: break-word;
    box-sizing: border-box;
}

.login-cliente .título {
    margin-bottom: 10px;
}

.login-cliente .cadastro p {
    margin-bottom: 5px;
    text-align: left;
}

.login-cliente input {
    margin-bottom: 15px;
    border: 1px #9A0000 solid;
    border-radius: 3px;
    height: 25px;
    width: 95%;
}

.login-cliente .butao-entrar {
    margin-top: 3px;
    background-color: #9A0000;
    border: 2px #FFF solid;
    border-radius: 4px;
    padding: 4px 40px;
    color: #fff;
}

.login-cliente .acesso {
    margin-top: 15px;
    font-size: 10px;
}
