.img-decorativa img {
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.linha-com-texto {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
}

.linha1,
.linha2 {
    flex-grow: 1;
    height: 3px;
    background-color: #9A0000;
}

.texto {
    font-size: 30px;
    font-weight: bold;
    color: #9A0000;
    margin: 0 50px;
}

.destaque-produto nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.destaque-produto a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 215px;
    height: 280px;
    overflow: hidden;
    border-radius: 10%;
    background-position: center;
    background-size: cover;
    padding-bottom: 10px;
    text-decoration: none;
}

.destaque-produto img {
    display: none;
}

.texto-sobre-imagem {
    margin-bottom: 8px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.texto-saiba-mais {
    color: white;
    background-color: #9A0000;
    padding: 4px 15px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}