body {
    
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    min-height: 100vh;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-content {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 2px solid #9A0000;
    border-radius: 8px;
    box-sizing: border-box;
}

.text-content p {
    text-align: justify;
}

.image {
    width: 400px;
    height: auto;
    border-radius: 8px;
}

footer {
    background: #9A0000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

.depoimentos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
    background-color: #f9f9f9;
}

.depoimento {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.depoimento:hover {
    transform: translateY(-10px);
}

.depoimento p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.depoimento .nome {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}

.depoimento .local {
    font-style: italic;
    color: #888;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .text-content {
        padding-right: 0;
        text-align: center;
        max-width: 100%;
    }

    .depoimento {
        width: 100%;
    }
}
