header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 3px solid #9A0000;
    position: relative;
    height: 120px;
}

.menu-container {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 10;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    z-index: 5;
    overflow: visible;
}

.logo img {
    max-width: 100%;
    height: auto;
    transform: scale(3);
    transform-origin: center;
    z-index: 5;
}

.lado-direito {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100%;
    z-index: 10;
}

.login, .carrinho {
    width: 25px;
    height: 25px;
}

.opcoes {
    margin-top: 5px;
}

.opcoes nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.opcoes nav ul li {
    margin: 0 5px;
}

.opcoes nav ul li a {
    text-decoration: none;
    color: #000;
}

.botao-produtos {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.select-produtos {
    padding: 0;
    margin-left: 5px;
}

.img-decorativa img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.menu-checkbox {
    display: none;
}

.menu-expandido {
    margin-top: 10px;
    background-color: rgba(154, 0, 0, 0.9);
    padding: 20px;
    color: black;
    border-radius: 4%;
    width: max-content;
    min-width: 100px;
    max-width: 200px;
    height: auto;
    display: none;
    z-index: 10;
    position: absolute;
}

.menu-checkbox:checked + .menu-botao + .menu-expandido {
    display: block;
}

.menu-expandido ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-expandido li {
    width: 150px;
    height: auto;
    padding: 10px;
    text-align: left;
    color: white;
}

.menu-expandido a {
    text-decoration: none;
    color: white;
    padding: 3px;
    display: block;
    margin-bottom: 2px;
    font-size: 16px;
}

.menu-expandido a:hover {
    color: #003882;
}

.menu-icone {
    width: 24px;
    height: 24px;
    fill: #9A0000;
}
